:root {
  --img-wrapper-shadow: none;
  --img-wrapper-background: var(--primary-color);
  --img-filter: grayscale(57%) contrast(.99) brightness(78%);
  --experience-color-light: var(--primary-color);
  --mono_font-family-light: var(--mono_font-family);
  --padding-experiences: 20px 0 0 0;
}

.projects-list {
  padding: var(--padding-experiences);
}

.project-item {
  text-align: right !important;
  list-style: none;
  position: relative;
  align-items: center;
  padding: 0 0 7% 0;
  margin-left: -10.8%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#project-photo {
  opacity: .96;
  overflow: hidden;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  min-width: 390px;
  max-width: 460px;
  max-height: 260px;
  mix-blend-mode: multiply;
  transition: 0.3s;
  filter: var(--img-filter);
  -webkit-filter: var(--img-filter);
  -moz-filter: var(--img-filter);
  mask: radial-gradient(circle at 15%, #ffffffeb, transparent 100%);
  -webkit-mask: radial-gradient(circle at 15%, #ffffffeb, transparent 100%);
}

#project-photo:hover {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  mix-blend-mode: none;
  opacity: 1;
  mask: radial-gradient(circle at 15%, rgba(255, 255, 255, 0.925), transparent 100%);
  -webkit-mask: radial-gradient(circle at 15%, rgba(255, 255, 255, 0.925), transparent 100%);
}

.project-photo_wrapper {
  margin-left: 10%;
  position: relative;
  /* background: var(--img-wrapper-background); */
  background-size: cover;
  transition: 0.3s;

  width: 100%;
  height: 100%;
  max-width: 460px;
  max-height: 260px;
  min-width: 390px;
  border-radius: 7px;
  z-index: 1;
  grid-column: 1 / 7;
  grid-column-start: 2;
  filter: var(--img-wrapper-shadow);
  -webkit-filter: var(--img-wrapper-shadow);
  -moz-filter: var(--img-wrapper-shadow);
  /* -webkit-box-shadow: 0px 0px 18px 1px var(--img-wrapper-shadow); 
  box-shadow: 0px 0px 18px 1px var(--img-wrapper-shadow); */
}

@media (min-width: 1450px) {
  .project-photo_wrapper {
    grid-column-start: 3;
  }
}

.project-photo_wrapper:hover {
  background: none;
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -webkit-box-shadow: 0px 0px 18px 1px var(--primary-color_soft) invert; 
  box-shadow: 0px 0px 18px 1px var(--primary-color_soft) invert;
}

.project-info_wrapper {
  position: relative;
  grid-column-start: 7;
  grid-column: 7 / -1;
  transform: translate(-18%, -2%);
  -webkit-transform: translate(-24%, -3%);
  z-index: 1;
  margin-top: 12px;
}

.project-info_title {
  color: var(--primary-color) !important;
  font-size: 24px !important;
  letter-spacing: 0.00135em !important;
}

.project-info_list {
  list-style-type: none;
  font-size: 0;
  padding: 0;
}

.technologies {
  margin: 10px 0 10px 55px;
}

.stakeholders {
  display: inline-block;
}

.links {
  display: inline;
  float: right;
  align-items: baseline;
  transform: translateY(-5.5%);
  padding-left: 14px;
  width: min-content;
  margin: 0;
  padding: initial;
  margin-left: -8px;
}

.links-tag {
  display: block;
  height: 1em;
}

.git {
  transform: translateY(6.5px);
}

.external {
  transform: translateY(-5.15px);
}

.project-info_item {
  display: inline-block;
  font-weight: 500 !important;
}

.project-info_item div {
  display: inline-block;
}

.stakeholder {
  line-height: var(--subtitle_line-height) !important;
  letter-spacing: var(--subtitle_letter-spacing) !important;
  font-size: var(--subtitle_font-size) !important;
  color: var(--title-color) !important;
  transition: 0.3s;
  /* width: var(--timeline-title-width) !important; */
  text-shadow: none;
  margin: 0 !important;
}

.project-links_container {
  height: fit-content; 
  line-height: 30px;
  padding-top: 13%;
}

.technology-titles {
  font-size: calc(var(--mono_font-size) - 1px) !important;
  font-family:  var(--mono_font-family-light) !important;
  letter-spacing: var(--mono_letter-spacing) !important;
  color: var(--title-color) !important;
}

.project-links {
  color: var(--experience-color-light) !important;
}

.arrow {
  color: var(--experience-color-light) !important;
}

#dropdown-divider-left {
  width: 29%;
  margin: 14px 0 0 28px;
}

#dropdown-divider-right {
  width: 29%;
  margin: -18px 42px 0 0;
}

.project-links:hover {
  color: var(--primary-color_stronger) !important;
}

.project-links_desktop {
  font-size: 21px !important;
}

.external-link {
  font-size: 24px !important;
  margin-left: 27px;
  transform: translateY(26.92%);
  vertical-align: middle;
}

.external-link_dropdown {
  transform: translateY(9.12%) !important;
  font-size: 28px !important;
}

.project-info_description {
  text-align: left;
  max-width: 800px;
  padding: 5px 6px 5px 10px;
  margin: 10px 0 10px 0;
  border-radius: 3px;
  background-color: #232c36fb;

  margin: 0;
  font-size: 1rem !important;
  line-height: 1.25;
  letter-spacing: 0.00938em;
  color: rgba(255,255,255, 0.85) !important;
  /* background-color: #263238e3; */
}

.project-info_description-withmargin {
  margin: 10px 0 10px -20px !important;
}

.project-info_description-mobile {
  width: fit-content;
  margin: 2% auto 2% auto !important;
  transform: translateX(-1px);
}

.project-info_description-text {
  margin: 0;
  padding: 4px;
}

.read-more_content-p {
  padding: 0;
  margin: 5.5px 0 5.5px 0;
}

.read-more_content-title {
  font-family: var(--title-secondary_font-family) !important;
  font-weight: var(--title_font-weight) !important;
  font-size: 1rem !important;
  line-height: var(--title_line-height) !important;
  letter-spacing: var(--title_letter-spacing) !important;
  color: var(--primary-color);
  margin-bottom: 0;
  text-transform: uppercase !important;
  text-shadow: none;
}

.read-more_button {
  padding: 0 !important;
  color: var(--primary-color) !important;
}

.read-more_button:hover {
  background-color: 0 !important;
}

.more-content {
  margin: 10px 0 10px auto;
}

.less-content {
  margin: 10px 0 10px 55px;
}

.project-photo_wrapper_read-more {
  position: absolute;
  top: 0;
}

.read-more_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px; 
}

@media (min-width: 1190px) { 
  .project-photo_wrapper {
    margin-left: 19%;
  }
}

@media (max-width: 1450px) and (min-width: 1150px) {
  .project-item {
    padding-left: 7%;
  }
}

@media (max-width: 1150px) and (min-width: 1000px) {
  .project-item {
    padding-left: 10%;
  }
}

@media (max-width: 1000px) and (min-width: 899px) {
  .project-item {
    padding-left: 2%;
    margin-right: -7%;
  }
}

@media (max-width: 898px) and (min-width: 897px) {
  .links {
    display: none !important;  
  }
  .project-item {
    padding-left: 2%;
    margin-right: -7%;
  }
}

@media (max-width: 898px) {
  .project-item {
    text-align: center !important;
    padding-bottom: 35px;
    padding-top: 5px;    
  }
  .project-info_top-content {
    width: 100%;
  }
  .links {
    float: none;
    transform: none;
    padding-left: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .project-info_list {
    font-size: none;
  }
  .project-info_item div {
    display: contents !important;
  }
}

@media (max-width: 850px) and (min-width: 700px) {
  #dropdown-divider-left {
    width: 29%;
    margin: 14px 0 0 20px;
  }
  #dropdown-divider-right {
    width: 29%;
    margin: -18px 33px 0 0;
  }
}

@media (max-width: 700px) and (min-width: 600px) {
  #dropdown-divider-left {
    width: 29%;
    margin: 14px 0 0 12px;
  }
  #dropdown-divider-right {
    width: 29%;
    margin: -18px 20px 0 0;
  }
}

@media (max-width: 600px) and (min-width: 340px) {  
  #dropdown-divider-left {
    width: 24%;
    margin: 15.22px 0 auto 9px;
  }
  #dropdown-divider-right {
    width: 24%;
    margin: -19.5px 15px auto 0;
  }
  .external-link {
    transform: translateY(9%) !important;
  }
}

@media (max-width: 340px) { 
  #dropdown-divider-left, #dropdown-divider-right {
    display: none;
  }
}

.closed-dropdown-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  white-space: nowrap;
}

#open-dropdown {
  text-align: left;
}

#dropdown-icon-closed {
  height: 23px;
  margin-left: 4px;
  margin-right: -5px;
  color: var(--primary-color);
}

#dropdown-icon-open {
  float: right;
  margin-left: 4px;
  margin-right: -5px;
  color: var(--primary-color);
}
